---

---

<div class="flex flex-col gap-3 mt-8 text-base/8">
    <p>I’m a frontend developer with 7 years of experience building and refining web applications. I specialize in React, Remix, and Firebase, helping teams and startups ship fast, improve performance, and scale efficiently.</p>
    <p>I’ve worked with early-stage startups and established companies, integrating with teams to solve frontend challenges. Whether you need a scalable architecture, a polished UI, or a performance boost, I can help.</p>
    <p>Let’s build something great—<a href="mailto:hello@kylekrny.com" class="text-blue-600 font-medium">Get in touch.</a></p>
</div>