---
import Badge from './Badge.astro'
---

<div class="flex items-center h-full mt-24">
    <div class="flex flex-col sm:w-2/3 w-full">
        <h1 class="font-bold text-4xl">Building Scalable Web Apps with Modern Tech</h1>
        <p class="text-base/8 my-3">Helping businesses launch and scale web applications with React, Firebase, and Python.</p>
        <div class="flex flex-row gap-2 sm:gap-4">
            <button data-modal-id="project-modal" class="open-modal w-fit rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-blue-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800 transition-colors duration-200 ease-in-out">Start Your Project</button>
            <Badge color="green" label="Now Booking: Mid June"/>
        </div>
    </div>
</div>