  
#connect-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

#connect-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 2%;
  min-height: 500px;
}

.connect-form-button {
  font-size: 1.5rem;
  padding: 1rem 5rem;
  color: black;
  font-family: 'Manrope', sans-serif !important;
  background-color: transparent !important;
  border: 1px solid #ced4da;
}

.connect-form-button:hover {
    background-color: #ced4da!important;
    color: black;
    border: 1px solid #ced4da;
}

.connect-form-button-container {
  margin-top: 1rem;
  justify-content: center !important;
}

.connect-form-input {
  margin-top: 2rem;
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
}

.connect-form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.connect-form-input-label {
  font-weight: 400;
}

.connect-form-side-container {
  margin-right: 0.5rem;
}

.connect-form-purpose-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.connect-form-purposes-row {
  justify-content: space-evenly;
}

.connect-form-radio-container {
  margin-top: 0.5rem;
}

.connect-form-radio-options {
  display: flex;
  margin-top: 0.5rem;
}

.connect-form-radio-options-container {
  display: flex;
  flex-direction: row;
}

.connect-method-card:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}


#connect-method-row {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#connect-section {
  margin-bottom: 2rem !important;
}

.connect-status-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 500px;
}


.connect-svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
    /* -webkit-animation: dash .9s ease-in-out
    animation: dash .9s ease-in-out */
}
.path.line {
    /* stroke-dashoffset: 1000 */
    /* -webkit-animation: dash .9s .35s ease-in-out forwards
    animation: dash .9s .35s ease-in-out forwards */
}  
.path.check {
    /* stroke-dashoffset: -100 */
    /* -webkit-animation: dash-check .9s .35s ease-in-out forwards
    animation: dash-check .9s .35s ease-in-out forwards */
}

.status-message {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
}

.path.success {
    color: #73AF55;
}

.path.error {
    color: #D06079;
}

