  <div class="mx-auto mt-10 p-6 bg-white shadow-lg rounded-xl">
    <h2 class="font-bold text-2xl mb-2">Who I've Helped</h2>
    <p class="md:w-2/3 pb-2 text-base/8">Trusted by startups and enterprises for frontend development, team augmentation, and code audits.</p>
    <div class="mt-4 grid gap-4 w-full grid-cols-3 sm:grid-cols-5 md:grid-cols-9">
        <div class="size-20 md:size-16 p-2 bg-[#0C5C65] shadow-md rounded-lg overflow-hidden grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">    
            <img src="/icons/dd-icon.png" alt="DrillDown Logo" srcset="">
        </div>
        <div class="size-20 md:size-16 bg-stone-200 shadow-md rounded-lg overflow-hidden grayscale hover:grayscale-0 transition-all duration-200 ease-in-out pt-1.5">
            <img src="/icons/pp.png" alt="Pepper & Pals Logo" srcset="">
        </div>
        <div class="h-20 w-50 md:h-16 md:w-36 bg-green-50 shadow-md rounded-lg overflow-hidden span-cols-2 row-start-2  sm:row-start-1 col-start-1 sm:col-start-4 md:col-start-3 flex flex-col justify-center items-center grayscale hover:grayscale-0 transition-all duration-200 ease-in-out p-2">
            <img src="/icons/moment.png" alt="Moment Candles Logo" srcset="">
        </div>
        <div class="size-20 md:size-16 bg-white shadow-md rounded-lg overflow-hidden col-start-3 md:col-start-5 md:row-start-1 grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/booster-apps.png" alt="Booster Apps Logo" srcset="">
        </div>
        <div class="size-20 md:size-16 bg-white shadow-md rounded-lg overflow-hidden col-start-3 row-start-2 md:col-start-6 md:row-start-1 grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/splunk.png" alt="Splunk Logo" srcset="">
        </div>
        <div class="h-20 w-50 md:h-16 md:w-36 bg-blue-50 shadow-md rounded-lg overflow-hidden span-cols-2  row-start-3 sm:row-start-2 md:row-start-1 col-start-2 sm:col-start-1 md:col-start-7 flex flex-col justify-center items-center grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/qlp.png" alt="Quality Lapel Pins Logo" srcset="">
        </div>
        <div class="size-20 md:size-16 bg-white shadow-md rounded-lg overflow-hidden row-start-3 col-start-1 sm:row-start-2 sm:col-start-4 md:row-start-1 md:col-start-9 grayscale hover:grayscale-0 transition-all duration-200 ease-in-out">
            <img src="/icons/lead-sherpa.jpeg" alt="Booster Apps Logo" srcset="">
        </div>
    </div>
  </div>