/* @-webkit-keyframes dash 
  0% 
    stroke-dashoffset: 1000
  
  100% 
    stroke-dashoffset: 0
  


@keyframes dash 
  0% 
    stroke-dashoffset: 1000
  
  100% 
    stroke-dashoffset: 0
  


@-webkit-keyframes dash-check 
  0% 
    stroke-dashoffset: -100
  
  100% 
    stroke-dashoffset: 900
  


@keyframes dash-check 
  0% 
    stroke-dashoffset: -100
  
  100% 
    stroke-dashoffset: 900 */

  
/* .react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor 
  0%
    opacity: 0
  
  50%
    opacity: 1
  
  100%
    opacity: 0 */

    